<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7 p-rgt-sec">
        <div>
          <span class="p-tag">Developer</span>
          <h1 class="mt-4">Siddharth Singh</h1>
          <p class="p-des mt-3 mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad amet
            laborum veritatis, obcaecati magni, dolor dicta vitae aliquam, harum
            tenetur voluptatibus iusto ipsa nesciunt repellendus laudantium
            deleniti. Aspernatur, dignissimos error?
          </p>
          <a href="#" class="p-readmore"
            >Read More
            <img
              src="/assets/img/play.png"
              alt="The icon for readMore arrow"
              width="15"
              class="ml-2"
            />
          </a>
        </div>

        <div>
          <h6>Subscribe to our code tech...</h6>
          <form action="" class="form-inline" autocomplete="off">
            <div class="form-group">
              <input
                type="email"
                id="email"
                class="form-control"
                placeholder="Please enter your name here"
                autocomplete="off"
              />
              <button class="btn btn-warning">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
